# =====================
# Общие файлы и артефакты
# =====================
*.log
*.class
*.jar
*.war
*.ear

# Папки сборки
target/
build/

# =====================
# Maven
# =====================
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
application.properties

# =====================
# Gradle
# =====================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
*.ipr
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/dictionaries/
.idea/**/dictionaries/

# =====================
# Eclipse
# =====================
.project
.classpath
.settings/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Операционные системы
# =====================
.DS_Store
Thumbs.db
