<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #3498db;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Главная страница</h1>

<a th:href="@{/acc}" class="avatar">
    <!-- Если пользователь залогинен, берем первую букву логина -->
    <span th:if="${user != null}" th:text="${#strings.substring(user.login, 0, 1)}">U</span>
    <!-- Если пользователь не залогинен, отображаем случайную букву -->
    <span th:if="${user == null}" th:text="${randomLetter}">R</span>
</a>

<a th:href="@{/auth/registration}">Зарегистрироваться</a>
<a th:href="@{/auth/login}">Войти в аккаунт</a>
<a th:href="@{/owner}">Панель основателя</a>
<a th:href="@{/admin}">Панель основателя</a>
</body>
</html>
