<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<h2>Личный кабинет</h2>
<p>Подробнее о вас:</p>
<p>Логин: <span th:text="${login}">Логин пользователя</span></p>
<p>Электронная почта: <span th:text="${email}">Электронная почта</span></p>
<p>Адрес проживания: <span th:text="${city}">Адрес пользователя</span></p>
<p>Ваше имя: <span th:text="${name}">Имя пользователя</span></p>
<p>Ваш номер телефона: <span th:text="${phone}">Номер пользователя</span></p>

<!-- Форма для редактирования профиля -->
<form th:method="POST" th:action="@{/acc/updateProfile}" th:object="${userDTO}">
    <label for="city">Введите ваш адрес (на него будут приходить заказы):</label>
    <input type="text" th:field="*{city}" id="city" required/>
    <div style="color: red;" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
    <br>
    <label for="name">Ваше имя:</label>
    <input type="text" th:field="*{name}" id="name" required/>
    <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="phone">Ваш номер телефона</label>
    <input type="text" th:field="*{phone}" id="phone" required>
    <div style="color: red;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    <button type="submit">Сохранить</button>
</form>

<br/><br/><br/>

<!-- Форма для смены пароля -->
<form th:method="POST" th:action="@{/acc/updatePassword}" th:object="${passwordChangeDTO}">
    <label for="oldPassword">Введите ваш старый пароль:</label>
    <input type="password" th:field="*{oldPassword}" id="oldPassword" required/>
    <div style="color: red;" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
    <br>
    <label for="newPassword">Введите ваш новый пароль:</label>
    <input type="password" th:field="*{newPassword}" id="newPassword" required/>
    <div style="color: red;" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
    <br>
    <button type="submit">Сохранить</button>
</form>

<h2>Мои заказы</h2>
</body>
</html>
